{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        This is a demonstration of the <strong>forms-engine-plugin</strong>, a Hapi.js plugin for
        rendering and processing GOV.UK-style forms.
      </p>

      <h2 class="govuk-heading-m">Simple form</h2>
      <p class="govuk-body">
        A minimal form with a single text input, demonstrating the basic setup required to get a form rendering end-to-end.
      </p>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="/simple-form/start">Launch form</a></li>
        <li><a class="govuk-link" href="https://github.com/defra/forms-engine-plugin-example-ui/blob/main/src/server/forms/simple-form.json">View source JSON</a></li>
      </ul>

      <h2 class="govuk-heading-m">Register a unicorn</h2>
      <p class="govuk-body">
        A more complex, multi-page form with conditional routing, multiple field types, and a summary page.
      </p>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="/register-a-unicorn/where-do-you-live">Launch form</a></li>
        <li><a class="govuk-link" href="https://github.com/defra/forms-engine-plugin-example-ui/blob/main/src/server/forms/register-a-unicorn.json">View source JSON</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
